DB_URL=jdbc:mysql://localhost:3306/anicomgo?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
DB_USERNAME=root
DB_PASSWORD=123456
JWT_SECRET=23d401e7346e40f187000422e81e29f57add0d2f6a584a0c9daded6ee2a93c9c
JWT_EXPIRATION_MINUTES=1440
MYBATIS_LOG_IMPL=org.apache.ibatis.logging.stdout.StdOutImpl
UPLOAD_SAVE_PATH=D:/anicomgo-assets
UPLOAD_BASE_URL=http://127.0.0.1:9000/
UPLOAD_MAX_SIZE_BYTES=2097152
UPLOAD_MAX_FILE_SIZE=2MB
UPLOAD_MAX_REQUEST_SIZE=2MB
UPLOAD_ALLOWED_EXTENSIONS=jpg,jpeg,png,webp
UPLOAD_ALLOWED_CONTENT_TYPES=image/jpeg,image/png,image/webp
UPLOAD_ALLOWED_TYPES=common,avatar,poster
